<app-menunav></app-menunav>
<div class="about-section">
    <h1>Market Data Anyalysis</h1>
    <p>User get all market data for analysis based on Daily,Weekly,Monthly for different Exchange </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div></div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/test.jpg" alt="" >
        <div class="container">
          <h2>Employee</h2>
          <p class="title">CEO & Founder</p>
          <p>Employee</p>
          <p>Employee@.net.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="/w3images/test2.jpg" alt="">
          <div class="container">
            <h2>Kamlesh Vijay</h2>
            <p class="title">Developer</p>
            <p>Developed by Kamlesh Vijay</p>
            <p>kamlesh.cmc@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div> 
      </div>
  </div>
<router-outlet></router-outlet>